* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }

  body {
        background-image: linear-gradient(310deg, rgba(255,0,0,0), rgb(17, 0, 255));
  }

header {
    padding: 20px;
    color: rgb(211, 211, 247);
}

#navbar {
    padding-top: 15px;
    margin-right: 4px;
    float: right;
    font-size: 20px; 
}

#name {
    margin-left: 390px;
    display: inline-block;
    font-size: 48px;
    text-shadow: 5px 5px 5px black;
}

body h2 {
    margin-top: 20px;
}

body h2, p{
    width: 78.4%;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    max-width: 20%;
    margin-left: 20px;
}

#Personal_Photo {
    margin-right: 4px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 20%;
}

#contact {
    margin-top: 30px;
}

#footer {
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 30px; 
    width: 100%;   
    height: 40px; 
     
}

a {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 700px) {
    #Personal_Photo, body{
      width:100%;
      height:200px;
     }
  }