* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
      background-color: blue;
  }

header {
    padding: 20px;
    color: rgb(211, 211, 247);
    display: inline;
}

#name {
    display: block;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

#navbar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

body  {
    text-align: center;
}

#Personal_Photo {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
}
