* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    border: solid black hidden;
    color: rgb(211, 211, 247);
}

body {
        background-image: linear-gradient(310deg, rgba(255,0,0,0), rgb(17, 0, 255));
  }

header {
    padding: 20px;
    color: rgb(211, 211, 247);
}

#name {
    margin-left: 90px;
    display: inline-block;
    font-size: 48px;
    text-shadow: 5px 5px 5px black;
}

#navbar {
    padding-top: 15px;
    margin-right: 4px;
    float: right;
    font-size: 20px; 
}

#left_navbar{
    padding-top: 15px;
    margin-left: 4px;
    float: left;
    font-size: 20px; 
}

body h2 {
    margin-top: 20px;
}

body h2, p{
    width: 78.4%;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 2;
    border: solid black;
}

#group, #refraction, #first_repo {
    width: 200px;
    height: 50%;
    opacity: .5;
}

#work {
    margin-top: 40px;
}

ul {
    list-style-type: none;
    max-width: 20%;
    margin-left: 20px;
}

#Personal_Photo {
    margin-right: 4px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 20%;
}

#group, #refraction, #first_repo {
    width: 200px;
    height: 200px;
}

#group:hover, #refraction:hover, #first_repo:hover {
    background: linear-gradient(310deg, rgba(226, 192, 192, 0), rgb(57, 57, 65));
    opacity: 1;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 20%;
    opacity: 1;
    transition: .3s ease;
}

fieldset {
    display: flex;
    column-gap: 200px;
    justify-content: space-evenly;
    height: 500px;
    margin-top: 25px;
    width: 1000em;
    border: solid black;
}

#contact {
    margin-top: 30px;
    height: 500px;
    font-size: larger;
    text-align: left;
}

#footer {
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 30px; 
    width: 100%;   
    height: 40px; 
     
}

footer h2, a{
    color: black;
}

@media only screen and (max-width: 375px) {
    #Personal_Photo, body{
      width:auto;
      height:auto;
     }
}
  
/* Portrait */
@media only screen 

and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    * {
        width: fit-content;
        height: fit-content;

    }

}

/* Landscape */
@media only screen 
 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape)  { 
    * {
        width: fit-content;
        height: fit-content;

    }

}